<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD:menu.html
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="planet.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
=======
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/png" href="images/planet.png">
>>>>>>> b8f1cd90ee6845b8508a259956f35ddf3108e91e:views/menu.ejs
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    </style>
    <title>"What word is it?"</title>
</head>
<body>
    <nav>
        <ul id="menu-deroulant"> 
            <li class = "continent"><a href = "#">Asie</a>
                <ul>
                    <li class = "langue"><a href = "#">Chinois 🇨🇳</a></li>
                    <li class = "langue"><a href = "#">Russe 🇷🇺</a></li>
                </ul>
            </li>
            <li class = "continent"><a href = "#">Afrique</a>
                <ul>
                    <li class = "langue"><a href = "#">Arabe 🇵🇸</a></li>
                    <li class = "langue"><a href = "#">Swahili 🇸🇿</a></li>
                </ul>
            </li>
            <li class = "continent"><a href = "#">Europe</a>
                <ul>
                    <li class = "langue"><a href = "#">Italien 🇮🇹</a></li>
                    <li class = "langue"><a href = "#">Norvégien 🇳🇴</a></li>
                </ul>
            </li>
            <li class = "continent"><a href = "#">Océanie</a>
                <ul>
                    <li class = "langue"><a href = "/en">Australien 🇦🇺</a></li>
                </ul>
            </li>
            <li class = "continent"><a href = "#">Amérique</a>
                <ul>
                    <li class = "langue"><a href = "#">Mexicain 🇲🇽</a></li>
                    <li class = "langue"><a href = "#">Brésilien 🇧🇷</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="div_horloge"></div>
    <div id= "container_menu">
        <div id= "title">
            <h1>What word is it ?</h1> 
<<<<<<< HEAD:menu.html
            <img alt ="image" src="bluePlanet.png" width="400" height = 400>                                
              <img  alt="image" src="clock.png" width="200" height="300">
              <div id="time">
              
              </div>
              <script>
                function startTime() {
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                m = checkTime(m);
                document.getElementById('time').innerHTML =
                h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
                }
                function checkTime(i) {
                    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                    return i;
                }
                
                startTime();
                checkTime();
                </script>
    
        </div>  

     
      </div>

     </script>
           
  

=======
            <script type="text/javascript">
                window.onload=function() {
                    horloge('div_horloge');
                };
            
                function horloge(el) {
                    if(typeof el=="string") { el = document.getElementById(el); }
                    function actualiser() {
                    var date = new Date();
                    var str = date.getHours();
                    str += ':'+(date.getMinutes()<10?'0':'')+date.getMinutes();
                    str += ':'+(date.getSeconds()<10?'0':'')+date.getSeconds();
                    el.innerHTML = str;
                }
                actualiser();
                setInterval(actualiser,1000);
                }
            </script>
        </div>
    </div>
>>>>>>> b8f1cd90ee6845b8508a259956f35ddf3108e91e:views/menu.ejs
    
</body>
</html>