<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" type="image/png" href="images/planet.png">
  <body>
    <div position : relative><img alt = "image" scr = "bluePlanet.png" width = "400" height="200"></div>
<<<<<<< HEAD
    <p>
        <button onclick="myMove()">Click Me</button> C:\Users\iscia\Documents\GitHub\projet-collectif---dataviz-isceso\views\page.ejs
    </p>
    <div id ="container">
           <div id="bubbleTrio">
               <div class="bubble"><%= traduction %></div>
           <div>
     </div>
     <div class = "oneWordPerHour">

     </div>
=======
    <div id ="container">
           <div id="bubbleTrio">
               <div class="bubble"><%= traduction %> <%= vf %></div>

           </div>
    </div>
>>>>>>> ed505fd32f8c66f013d9697d0ccc46098893186c
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>