<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  </style>
  </head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" type="image/png" href="images/planet.png">
  <img class="depart" src="https://cdn.pixabay.com/photo/2019/04/04/22/35/europe-4103975_1280.png" height="100", width="100">
  <body>

  <div position : relative><img alt = "image" scr = "bluePlanet.png" width = "400" height="200"></div>



    <div id ="container">

         <div class="bubble"><%= vf %> : <%= traduction %></div>
         <div id="div_horloge"></div>
    </div>
    
    <script type="text/javascript">
      window.onload=function() {
          horloge('div_horloge');
      };
  
      function horloge(el) {
          if(typeof el=="string") { el = document.getElementById(el); }
          function actualiser() {
          var date = new Date();
          var str = date.getHours();
          str += ':'+(date.getMinutes()<10?'0':'')+date.getMinutes();
          str += ':'+(date.getSeconds()<10?'0':'')+date.getSeconds();
          el.innerHTML = str;
      }
      actualiser();
      setInterval(actualiser,1000);
      }
  </script>

    <script type="text/javascript" src="./script.js"></script>

  </body>
</html>