<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  </style>
  </head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" type="image/png" href="images/planet.png">
  <img class="depart" src="https://cdn.pixabay.com/photo/2019/04/04/22/35/europe-4103975_1280.png" height="200", width="200">
  <img class="lune" src="https://cdn.pixabay.com/photo/2020/11/22/11/53/sky-5766341_1280.jpg" height="200", width="200">
  <body>

    <div id ="container">

         <div class="bubble"><%= vf %> : <%= traduction %></div>
         
    </div>
    
    
    <script type="text/javascript" src="./script.js"></script>
  </body>
</html>