:root{
    --hauteur-menu: 60px;
  }

 * {
    margin: 5px;
    padding: 5px;
    font-family: 'Fredoka One', cursive;
    background-color: #5C8B9A;
  }
.depart {
    position:absolute;
    bottom:5%;
    left:1%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition:         transform .3s ease-in-out;
}
.depart:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.lune {
    position:absolute;
    top:5%;
    right:1%;
    border-radius: 100%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition:         transform .3s ease-in-out;
}
.lune:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

h1 {
    text-align: center;
    font-size: 5em;
}

#menu-deroulant > .continent :hover {
    color: #C1AFA1;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

.continent {
    font-size: 3em;
}

.langue {
    font-size : 0.5em }

#container_menu {
    width: 100vw;
    height: 100vh;

}

#title {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top : 75px;
    justify-content: center; 
}
#title > p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
#div_horloge {
    text-align: center;
    font-size: 55px;
    margin-top:140px;
    
}

/* style de la deuxième page */
#container {
    width: 400px;
    height: 400px;
    position: relative;
    top: 80px;
    left: 30%;
  }

.bubble {
    width: 500px;
    height: 500px;
    flex-direction: column;
    background-color: #CBD971;
    border-radius: 100%;
    border: 3px solid;
    line-height: 500px;
    text-align: center;
    font-size: xx-large;
    
}

